#ads-section {
  /* background-color: chartreuse; */
  flex: 1 1 22%;
  box-shadow: -0.5px 0px 0px 0px #888;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ads-heading {
  /* text-align: center; */
  padding-top: 30px;
  padding-bottom: 40px;
  color: #222;
}
#ads-content-container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 5s;
}
#ad-content-image {
  min-width: 50px;
  min-height: 50px;
  width: 85%;
  box-shadow: 3px 3px 5px 1px lightblue;
}
/* .ad-content-image {
} */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
