#progress-bar {
  flex: 1 1 18%;
  box-shadow: 0.5px 0px 0px 0px #888;
  /* background-color: yellowgreen; */
}

#progressbar-list {
  /* background-color: red; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 10px;
  padding: 50px 10px;
  /* color: #222; */
}

#progressbar-list li {
  /* padding: 10px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0.2px #888;
  font-size: 12px;
}

#progressbar-list li:hover {
  cursor: pointer;
  font-weight: 600;
  background-color: rgb(223, 231, 241);
  transition: background-color 1s;
  font-size: 14px;
  transition: font-size 1s;
}
