#question-section,
#controls-section {
  /* background-color: red; */
  margin: 0px 20px;
  padding: 20px 20px;
}
#question-section {
  /* background-color: rgba(173, 216, 230, 0.3); */
  /* background-color: rgba(223, 231, 241, 0.5); */
  background-color: rgb(223, 231, 241);
  box-shadow: 0px 0px 5px 0.2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
}
#controls-section {
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  margin-top: 20px;
  gap: 40px;
}
.next-button,
.previous-button {
  background-color: lightblue;
  background-color: rgb(223, 231, 241);
  border-radius: 4px;
  padding: 5px 10px;
  box-shadow: 0px 0px 5px 0.2px rgba(0, 0, 0, 0.2);
}
.next-button:hover,
.previous-button:hover {
  cursor: pointer;
  background-color: #fff;
  transition: background-color 1s;
}
/* .previous-button {
  background-color: lightblue;
} */
/* .next-button {
  background-color: lightblue;
} */
