#sidebar-section {
  /* background-color: blueviolet; */
  flex: 1 1 18%;
  box-shadow: 0.5px 0px 0px 0px #888;
}
#sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 10px;
}
#sidebar-list li {
  padding: 10px 20px;
}
#sidebar-list li:hover {
  cursor: pointer;
  background-color: rgba(173, 216, 230, 0.4);
}
.selected {
  background-color: lightblue;
}
